body {
    color: white;
}


html { 
    background: url(./images/city-wallpaper2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.landingText {
    position: absolute;
    text-align: center;
    height: auto;
    width: auto;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
}

.myName {
    position: relative;
    top: -30%;
    font-size: 20vmin;
}

.myQuote {
    position: relative;
    font-size: 5vmin;
    top: -55%;
}

.mySlogan {
    position: relative;
    font-size: 7vmin;
    top: -60%;
}