body {
  background-color: #333333
}
a {
  color: white;
}

h1 {
  font-family: Roboto;
}
.navElement{
  position: fixed;
  width: 2vh;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 3vh;
  line-height: 3vh;
  text-align: center;

  overflow-wrap: break-word;
  text-decoration: none;

  color: #E8E9EB;
}
#home {
  height: 116px;
  left: 27px;
  top: 5vh;
}
#examples {
  height: 229px;
  left: 27.02px;
  top: 23vh;
}
#contact {
  height: 208px;
  left: 27.32px;
  top: 53vh;
}
#about {
  height: 140px;
  left: 26.33px;
  top: 80vh;
}

#accentbox {
  position: absolute;
  width: 15vmin;
  height: 15vmin;
  left: 15vw;
  top: 15vh;
  border-radius: 50%;
  background: #85BAA1;
}

#text {
  position: absolute;
  width: auto;
  height: 40vh;
  right: 10vw;
  bottom: 40vh;
}

#pageTitle {
  font-family: Roboto;
  background-color: green;
  padding: none;
  position: relative;
  display: block;
  color: white;
  font-size: 18vh;
  height: 0vh;
  color: #85BAA1;
}

#pageDescription {
  font-family: Roboto;
  padding: none;
  background-color: red;
  position: relative;
  display: block;
  color: grey;
  font-size: 8vh;
  width: 35vw;
  height: 0vw;
  float: right;
  text-align: right;
  color: #CECECE;
}

#content {
  position: absolute;
  top: 100%;
  color: white;
  margin: 7vw;
  height: 200%;
  width: 86vw;
}

#jumpTo {
  font-family: Roboto;
  text-align: center;
  font-size: 5vh;
}
#projectsList {
  font-size: 2vh;
  text-align: center;
}

.jumpDown {
  text-decoration: none;
  color: white;
}
.projectName {
  list-style-type: none;
  display: inline;
  padding: 25px;
}

.project {
  padding: 25px;
}
