html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.bgImage {
    width: 100%;
    height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('/images/city-wallpaper2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/*navbar*/
nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 64px;
    opacity: 0.4;
    background-color: grey;
}
ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 64px;
    float: left;
}
li {
    float: left;
    height: 64px;
}
a {
    display: block;
    color: white;
    text-align: center;
    padding: 23px;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
li a:hover {
    background-color: #111;
}


/*Title and description*/
.titleContent {
    position: absolute;
    text-align: center;
    height: auto;
    width: auto;
    top: 25%;
    bottom: 25%;
    left: 10%;
    right: 10%;
    color: white;
}

.title {
    position: relative;
    font-size: 8rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: -1rem;
}
.description {
    position: relative;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
    margin-top: -4rem;
}
.guidanceArrow {
    position: relative;
    margin-left: -25px;
    left: 50%;
    top: 10rem;
    height: 50px;
    width: 50px;
    border-bottom: 5px solid white;
    border-right: 5px solid white;
    transform: rotate(45deg);
}
<<<<<<< Updated upstream

=======
>>>>>>> Stashed changes
/*Main body Content*/
.bodyContent {
    padding: 40px;
}